body {
  font-family: "Times New Roman", "Noto Serif CJK TC", "Noto Serif TC", serif;
  line-height: 1.7;
  letter-spacing: 0;
  word-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", "Noto Serif CJK TC", "Noto Serif TC", serif;
}

code,
pre {
  font-family: "Consolas", "Courier New", monospace;
}